@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-primary min-h-screen;
        
        background-size: 20px 20px;
    }
}

@layer utilities {

    /* Custom scrollbar styles */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #743da7;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #260162;
    }
}